<%= render 'header' %>
<center>
<h3>Listing posts</h3>

<table>
	<tr>
		<td><center><strong>Title</strong></center></td>
		<td><center><strong>Writer</strong></center></td>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<% comment_count = 0 %>
			<% post.comments.each do %>
				<% comment_count += 1 %>
			<% end %>
			<% if current_user %>
				<td><%= link_to post.title, post_path(post) %>
			<% else %>
				<td><%= link_to post.title, new_session_path %>
			<% end %>
				[<%= comment_count %>]</td>
			<td><center><%= post.writer %></center></td>
		</tr>
	<% end %>
	<tr>
		<td></td>
		<% if current_user %>
			<td><%= link_to 'New', new_post_path %></td>
		<% else %>
			<td><%= link_to 'New', new_session_path %></td>
		<% end %>
	</tr>
</table>
</center>
